body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.textoHeader{
  font-weight: bold;
  font-size: 22px;
}
.busqueda{
  width: 300px;
  height: 30px;
}
table th, td {
  text-align: center;
  font-size: 14px;
}
#nombre, #email, #busqueda{
  font-size: 13px;
}
.muteado{
  font-size: 13px;
}

.texto1{
  position:absolute;
  top: 10px;
  left: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5vw;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em
}

.texto2{
  position:absolute;
  bottom: 0px;
  left: 7px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4vw;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em
}

.caja{
  position:relative;
  display: inline-block;
}
.fondo{
  position:relative;
  display: inline-block;
}
.estirar {
  width:100%;
}
